@media #{$mq-ie} {
  .menu-parent-item {
    .sub-menu {
      .grid-item {
        flex: 1 1 20%;
      }

      ul {
        list-style: none;
      }

      a {
        //color: orangered;
        line-height: 2rem;
      }
    }
  }

  .footer {
    .grid-item {
      flex: 1 1 23%;
    }
  }
}
