:root {
  --clr-primary: #c5050c;
  --clr-secondary: #777777;
  --clr-tertiary: #6e6e6e;
  --clr-success: #5cb85c;
  --clr-info: #0dcaf0;
  --clr-warning: #ffae00;
  --clr-alert: #ec5840;
  --clr-light-gray: #f3f3f3;
  --clr-light-gray-2: #dddddd;
  --clr-light-gray-3: #f1f1f1;
  --clr-medium-gray: #cacaca;
  --clr-medium-gray-2: #e1e1e1;
  --clr-medium-gray-3: #b7b7b7;
  --clr-dark-gray: #818181;
  --clr-black: #646464;
  --clr-white: #fefefe;
  --clr-disabled: #969696;

  --fs-default: 1.4rem;
  --default-page-width: 90rem;
}
