// Breakpoints
$bp-xsmall: 34em; // 544px
$bp-small: 48em; // 768px
$bp-nav: 56.25em; // 900px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-xsmall: '(min-width: #{$bp-xsmall})';
$mq-small: '(min-width: #{$bp-small})';
$mq-nav: '(min-width: #{$bp-nav})';
$mq-medium: '(min-width: #{$bp-medium})';
$mq-large: '(min-width: #{$bp-large})';
$mq-xlarge: '(min-width: #{$bp-xlarge})';
$mq-xxlarge: '(min-width: #{$bp-xxlarge})';
$mq-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
$mq-ie: 'all and (-ms-high-contrast: none), (-ms-high-contrast: active)';

$primary-color: #c5050c;
$secondary-color: #777777;
$tertiary-color: #6e6e6e;
$success-color: #5cb85c;
//$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #f3f3f3;
$light-gray-2: #dddddd;
$light-gray-3: #f1f1f1;
$medium-gray: #cacaca;
$medium-gray-2: #e1e1e1;
$medium-gray-3: #b7b7b7;
$dark-gray: #818181;
$black: #646464;
$white: #fefefe;
$disabled: #969696;

$default-font-size: 1.6rem;
$default-page-width: 90rem;
