@use '../util' as *;

.footer {
  display: block;
  max-width: var(--default-page-width);
  margin: auto;
  height: auto;
  font-size: rem(12);
  padding-bottom: rem(25);

  &__banner {
    &:link,
    &:visited {
      display: block;
      margin: rem(25) 0;
      padding: rem(25);
      background: var(--clr-medium-gray-2);
      text-align: center;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 500;
      color: var(--clr-dark-gray-100);
      line-height: rem(12);
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__membership {
    margin-bottom: rem(25);
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    &-link {
      &:hover {
        text-decoration: none;
      }

      @include breakpoint(xsmall) {
        br {
          display: none;
        }
      }
    }
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: rem(1) solid var(--clr-medium-gray);
    padding: 0 0 rem(25);

    &-item {
      justify-content: flex-start;
      border-bottom: rem(1) solid var(--clr-medium-gray);
      flex: 1 1 100%;

      dl {
        margin: 0;
        color: var(--clr-dark-gray);
        font-size: rem(20);
        padding: 0 rem(25);

        dt {
          font-weight: 500;
          text-transform: uppercase;
          line-height: rem(25);
          position: relative;
          cursor: pointer;
          display: block;
          padding: rem(25) 0;
        }

        ul {
          list-style-type: none;
          padding: 0;
        }

        em {
          position: absolute;
          top: rem(25);
          right: rem(10);
          left: auto;
          font-size: rem(15);
          transition: all 0.4s ease;
        }

        &.open {
          em {
            transform: rotate(180deg);
          }
        }
      }

      &:first-child dl {
        margin-top: 0;
      }
    }

    @include breakpoint(nav) {
      padding: rem(25);
      font-size: rem(12);
      &-item {
        flex: 1 1 25%;
        border-bottom: none;

        &:not(:last-child) {
          border-right: rem(1) solid var(--clr-medium-gray);
        }

        dl {
          font-size: rem(12);
          margin: 0 rem(20);
          padding: 0;

          dt {
            cursor: default;
            padding: 0;
          }

          dd {
            margin: auto;
            line-height: rem(25);
            font-size: rem(15);
          }
        }
      }
    }
  }

  &__links-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: rem(1) solid var(--clr-medium-gray);
    padding-bottom: rem(25);

    @include breakpoint(nav) {
      padding: rem(25);
      flex-wrap: nowrap;
    }
  }

  &__links {
    flex: 1 1 100%;

    div {
      padding-inline: rem(25);
      color: var(--clr-dark-gray);
      border-bottom: rem(1) solid var(--clr-medium-gray);
    }

    ul {
      font-size: rem(20);
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &-title {
      font-weight: 500;
      text-transform: uppercase;
      padding: rem(25) 0;
    }

    a {
      display: block;
      color: var(--clr-dark-gray);
      padding-bottom: rem(20);

      &:hover {
        text-decoration: none;
        color: var(--bs-primary);
        transition: var(--transition);
      }

      &.phone {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: rem(50);
        font-weight: 500;
        background: var(--bs-success);
        color: var(--bs-white);
        width: auto;
        padding-inline: rem(10);
        padding-bottom: 0;
        margin: rem(10) rem(10) rem(20) 0;

        &::before {
          font-family: 'FontAwesome';
          content: '\f095';
          padding: 0 rem(5) 0 0;
        }

        @include breakpoint(xsmall) {
          display: inline-block;
          height: auto;
          color: inherit;
          font-weight: 400;
          background-color: transparent;
          cursor: text;
          margin: 0;
          padding: rem(20) 0;

          &::before {
            content: '';
            padding: 0;
          }
        }

        @include breakpoint(nav) {
          padding: 0;
        }
      }
    }

    @include breakpoint(nav) {
      display: flex;
      flex: 0 0 75%;
      border-bottom: none;

      div {
        padding: 0;
        flex: 0 0 33.3333%;
        border-bottom: none;
        border-right: rem(1) solid var(--clr-medium-gray);
      }

      ul {
        font-size: rem(15);
        margin-inline: rem(20);
      }

      li {
        margin-bottom: 0;
        line-height: rem(25);
      }

      &-title {
        padding: 0;
        font-size: rem(12);
      }

      a {
        padding: 0;
      }
    }
  }

  &__social {
    flex: 1 1 100%;
    padding: rem(20);
    border-bottom: rem(1) solid var(--clr-medium-gray);

    &--links {
      display: flex;
      justify-content: space-around;
      margin-bottom: rem(40);
      font-size: rem(35);
      max-width: rem(350);
      margin-inline: auto;

      a {
        &:link,
        &:visited {
          color: var(--clr-medium-gray-3);
          padding: 0 rem(25);
        }

        &:active {
          color: var(--bs-primary);
        }

        @include breakpoint(nav) {
          transition: var(--transition);

          &:link,
          &:visited {
            padding: 0 rem(5);

            &:last-child {
              padding-right: 0;
            }
          }

          &:hover,
          &:active {
            color: var(--bs-primary);
            transition: var(--transition);
          }
        }
      }

      @include breakpoint(nav) {
        justify-content: flex-end;
      }
    }

    @include breakpoint(nav) {
      flex: 1 1 25%;
      padding: 0;
      border-bottom: none;
    }
  }

  &__logo {
    text-align: center;

    @include breakpoint(nav) {
      text-align: right;
    }

    a {
      display: block;
    }

    &--img {
      width: rem(115);
    }
  }

  &__copy {
    margin: rem(5) auto 0;
    color: #8c8c8c;
    text-align: center;

    &-date {
      &::before {
        content: '\00a9';
        margin-right: rem(5);
      }
    }
  }
}
