@use '../util' as *;

.footer {
  display: block;
  max-width: var(--default-page-width);
  margin: auto;
  height: auto;
  font-size: rem(12);
  padding-bottom: rem(25);

  &__banner {
    &:link,
    &:visited {
      display: block;
      margin: rem(25) 0;
      padding: rem(25);
      background: var(--clr-medium-gray-2);
      text-align: center;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 500;
      color: var(--clr-dark-gray-100);
      line-height: rem(12);
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__membership {
    margin-bottom: rem(25);
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    &-link {
      &:hover {
        text-decoration: none;
      }

      @include breakpoint(xsmall) {
        br {
          display: none;
        }
      }
    }
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: rem(1) solid var(--clr-medium-gray);
    padding: 0 0 rem(25);

    &-item {
      justify-content: flex-start;
      border-bottom: rem(1) solid var(--clr-medium-gray);
      flex: 1 1 100%;

      dl {
        margin: 0;
        color: var(--clr-dark-gray);
        font-size: rem(20);
        padding: 0 rem(25);

        dt {
          font-weight: 500;
          text-transform: uppercase;
          line-height: rem(25);
          position: relative;
          cursor: pointer;
          display: block;
          padding: rem(25) 0;
        }

        ul {
          list-style-type: none;
          padding: 0;
        }

        em {
          position: absolute;
          top: rem(25);
          right: rem(10);
          left: auto;
          font-size: rem(15);
          transition: all 0.4s ease;
        }

        &.open {
          em {
            transform: rotate(180deg);
          }
        }
      }

      &:first-child dl {
        margin-top: 0;
      }

      .submenu {
        // display: none;
        width: 100%;

        &--link {
          &:link,
          &:visited {
            display: block;
            width: 100%;
            color: var(--clr-dark-gray);
            padding: rem(20) 0;

            &:first-child {
              padding-top: 0;
            }
          }

          &:hover,
          &:active {
            text-decoration: none;
          }
        }

        @include breakpoint(medium) {
          &--link {
            &:link,
            &:visited {
              display: block;
              width: 100%;
              color: var(--clr-dark-gray);
              padding: 0;

              &:first-child {
                padding-top: 0;
              }
            }

            &:hover,
            &:active {
              text-decoration: none;
              color: var(--bs-primary);
            }
          }
        }
      }
    }

    @include breakpoint(medium) {
      padding: rem(25);
      font-size: rem(12);
      &-item {
        flex: 1 1 25%;
        border-bottom: none;

        &:not(:last-child) {
          border-right: rem(1) solid var(--clr-medium-gray);
        }

        dl {
          font-size: rem(12);
          margin: 0 rem(20);
          padding: 0;

          dt {
            cursor: default;
            padding: 0;
          }

          dd {
            margin: auto;
            line-height: rem(25);
            font-size: rem(15);
          }
        }
      }
    }
  }

  &__social {
    flex-direction: column;
    align-items: flex-start;
    padding: rem(20);

    &--links {
      margin: 0 auto rem(40);
      font-size: rem(35);
      text-align: center;

      a {
        &:link,
        &:visited {
          color: var(--clr-medium-gray-3);
          transition: color 0.25s ease-in-out;
          padding: 0 rem(20);

          &:not(:last-child) {
            margin-right: rem(10);
          }
        }

        &:hover,
        &:active {
          color: var(--bs-primary);
          transition: color 0.25s ease-in-out;
        }

        @include breakpoint(medium) {
          &:link,
          &:visited {
            padding: 0;
          }
        }
      }

      @include breakpoint(medium) {
        align-self: flex-start;
        flex: 1 1 100%;
        display: flex;
        justify-content: flex-start;
        flex: rem(20);
      }
    }

    @include breakpoint(medium) {
      padding: 0;

      &--links {
        justify-content: flex-end;
      }
    }
  }

  &__logo {
    margin: 0 auto;
    text-align: center;

    @include breakpoint(medium) {
      text-align: right;
    }

    a {
      display: block;
    }

    &--img {
      width: rem(115);
    }
  }

  &__copy {
    margin: rem(5) auto 0;
    color: #8c8c8c;
    text-align: center;

    &-date {
      &::before {
        content: '\00a9';
        margin-right: rem(5);
      }
    }
  }
}
