@use '../util' as *;

.accordion {
  h3 {
    position: relative;
    color: var(--bs-gray-dark);
    background-color: var(--clr-light-gray);
    border: rem(1) solid var(--clr-light-gray-2);
    padding: rem(15) rem(20) rem(15) rem(15);
    line-height: 1;
    margin: rem(10) 0;
    font-size: inherit;
    font-weight: 400;
    cursor: pointer;
    height: auto;

    &::before {
      font-family: fontawesome;
      float: right;
      font-size: rem(20);
      position: absolute;
      content: '\f067';
      right: rem(10);
      display: block;
      transition: var(--transition);

      @include breakpoint(small) {
        font-size: rem(16);
      }
    }

    &.active::before {
      transform: rotate(45deg);
      transition: var(--transition);
    }

    @include breakpoint(medium) {
      padding: rem(10);
    }
  }

  & > div {
    padding: rem(15);
    border: rem(1) solid var(--clr-light-gray-2);
    margin-top: rem(-10);
    border-top: none;

    ul {
      margin: 0;
    }
  }

  @include breakpoint(small) {
    div {
      &.phone {
        display: inline;
        border: none;
        padding: 0;
      }
    }
  }

  table {
    @include breakpoint(small) {
      width: 50%;
      margin: 0 auto;
    }
  }
}
