.btn {
  padding: 0 1.2rem;
  border: 2px solid transparent;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  height: 5rem;
  line-height: 5rem;
  font-size: inherit;

  &-primary {
    background-color: transparent;
    border-color: var(--clr-primary);
    color: var(--clr-primary);
    &:link,
    &:visited {
    }

    &:hover,
    &:active,
    &:active:hover,
    &:focus,
    &:active:focus,
    &-inverted {
      border-color: var(--clr-primary);
      background-color: var(--clr-primary);
      color: var(--clr-white);
    }

    &-inverted {
      &:hover,
      &:active,
      &:focus {
        color: var(--clr-white);
      }
    }
  }

  &-success {
    background-color: transparent;
    border-color: var(--clr-success);
    color: var(--clr-success);
    &:link,
    &:visited {
      color: var(--clr-success);
    }

    &:hover,
    &:active,
    &:active:hover,
    &:focus,
    &:active:focus,
    &-inverted {
      border-color: var(--clr-success);
      background-color: var(--clr-success);
      color: var(--clr-white);
    }
  }

  &-default {
    border-color: var(--clr-secondary);
    color: var(--clr-secondary);
  }

  &-disabled {
    cursor: not-allowed;
    //pointer-events: none;
    background-color: var(--clr-disabled);
    border: 1px solid var(--clr-secondary);
    box-shadow: none;
    color: var(--clr-white);

    &:link,
    &:visited {
      color: var(--clr-white);
    }

    &:hover,
    &:active,
    &:active:focus {
      cursor: not-allowed;
      background-color: var(--clr-disabled);
      border: 1px solid var(--clr-secondary);
      box-shadow: none;
      color: var(--clr-white);
    }
  }

  &-secondary {
    background-color: transparent;
    border-color: var(--clr-secondary);
    color: var(--clr-secondary);

    &:link,
    &:visited {
      color: var(--clr-secondary);
    }

    &:hover,
    &:active,
    &:active:focus {
      color: var(--clr-white);
      border-color: var(--clr-primary);
      background-color: var(--clr-primary);
    }
  }

  &-text {
    &:link,
    &:visited {
      font-weight: normal;
      font-size: inherit;
      margin-bottom: 1.5rem;
      transition: all 0.2s ease-in-out;
      text-transform: capitalize;
    }

    &:hover,
    &:active {
      color: var(--clr-primary);
      text-decoration: underline;
      box-shadow: none;
    }

    i,
    em {
      font-size: 1rem;
    }
  }

  @include breakpoint(medium) {
    border-width: 1px;
    height: 3rem;
    line-height: 3rem;
  }

  &-rnd {
    border-radius: 10rem;
    padding: 0;
    width: 5rem;

    @include breakpoint(medium) {
      width: 3rem;
    }

    i {
      font-size: 3.5rem;
      padding-top: 0.5rem;

      @include breakpoint(medium) {
        font-size: 1.8rem;
      }
    }
  }

  &-container {
    button {
      border: none;
      background-color: transparent;
      color: var(--clr-primary);
      border-bottom: 1px solid var(--clr-primary);
      margin-bottom: 1rem;
    }
  }

  &:hover {
    text-decoration: none;
  }
}
