@use '../util' as *;

.btn {
  padding: 0 rem(12);
  border: rem(2) solid transparent;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  height: rem(50);
  line-height: rem(50);
  font-size: inherit;

  &-primary {
    background-color: transparent;
    border-color: var(--clr-primary);
    color: var(--clr-primary);
    &:link,
    &:visited {
    }

    &:hover,
    &:active,
    &:active:hover,
    &:focus,
    &:active:focus,
    &-inverted {
      border-color: var(--clr-primary);
      background-color: var(--clr-primary);
      color: var(--clr-white);
    }

    &-inverted {
      &:hover,
      &:active,
      &:focus {
        color: var(--clr-white);
      }
    }
  }

  &-success {
    background-color: transparent;
    border-color: var(--clr-success);
    color: var(--clr-success);
    &:link,
    &:visited {
      color: var(--clr-success);
    }

    &:hover,
    &:active,
    &:active:hover,
    &:focus,
    &:active:focus,
    &-inverted {
      border-color: var(--clr-success);
      background-color: var(--clr-success);
      color: var(--clr-white);
    }
  }

  &-default {
    border-color: var(--clr-secondary);
    color: var(--clr-secondary);
  }

  &-disabled {
    cursor: not-allowed;
    //pointer-events: none;
    background-color: var(--clr-disabled);
    border: rem(1) solid var(--clr-secondary);
    box-shadow: none;
    color: var(--clr-white);

    &:link,
    &:visited {
      color: var(--clr-white);
    }

    &:hover,
    &:active,
    &:active:focus {
      cursor: not-allowed;
      background-color: var(--clr-disabled);
      border: rem(1) solid var(--clr-secondary);
      box-shadow: none;
      color: var(--clr-white);
    }
  }

  &-secondary {
    background-color: transparent;
    border-color: var(--clr-secondary);
    color: var(--clr-secondary);

    &:link,
    &:visited {
      color: var(--clr-secondary);
    }

    &:hover,
    &:active,
    &:active:focus {
      color: var(--clr-white);
      border-color: var(--clr-primary);
      background-color: var(--clr-primary);
    }
  }

  &-text {
    &:link,
    &:visited {
      font-weight: normal;
      font-size: inherit;
      margin-bottom: rem(15);
      transition: all 0.2s ease-in-out;
      text-transform: capitalize;
    }

    &:hover,
    &:active {
      color: var(--clr-primary);
      text-decoration: underline;
      box-shadow: none;
    }

    i,
    em {
      font-size: rem(10);
    }
  }

  @include breakpoint(medium) {
    border-width: rem(1);
    height: rem(30);
    line-height: rem(30);
  }

  &-rnd {
    border-radius: rem(100);
    padding: 0;
    width: rem(50);

    @include breakpoint(medium) {
      width: rem(30);
    }

    i {
      font-size: rem(35);
      padding-top: rem(5);

      @include breakpoint(medium) {
        font-size: rem(18);
      }
    }
  }

  &-container {
    button {
      border: none;
      background-color: transparent;
      color: var(--clr-primary);
      border-bottom: rem(1) solid var(--clr-primary);
      margin-bottom: rem(10);
    }
  }

  &:hover {
    text-decoration: none;
  }
}
