@use '../util' as *;

.primary__card {
  &--feature {
    &-item {
      flex: 1 1 100%;
      text-align: center;
      margin: rem(30) auto;
      padding: 0 rem(5);

      @include breakpoint(small) {
        flex: 1 1 50%;
      }
    }

    &-img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto rem(25);
      transition: var(--transition);

      &:hover {
        opacity: 0.7;
      }
    }

    &-heading {
      font-family: 'Red Hat Display', sans-serif;
      margin-bottom: 1rem;
      font-style: italic;
      font-size: rem(18);
      line-height: rem(18);
      text-transform: uppercase;
    }

    p {
      margin-bottom: rem(25);
      font-size: rem(16);
    }

    a.btn {
      font-size: rem(18);
      width: 80%;
      text-transform: uppercase;

      @include breakpoint(medium) {
        font-size: rem(16);
        width: rem(200);
      }
    }
  }
}

.card {
  &-header {
    font-weight: 500;
  }
}
