@use '../util' as *;

.hero {
  width: 100%;
  z-index: 10;
  margin: rem(-40) auto rem(10);
  max-width: var(--default-page-width);
  min-height: rem(175);
  position: relative;

  &__image {
    img {
      margin-inline: auto;
      width: 100%;
    }
  }

  &__body {
    @include absCenter;
    background-color: var(--clr-white);
    padding: rem(10);
    text-align: center;
    width: 95%;
    box-shadow: 0 0 rem(1) 0 rgba(0, 0, 0, 0.15);

    &--header {
      font-family: 'Red Hat Display', sans-serif;
      color: var(--clr-primary);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: rem(1);
      font-style: italic;

      @include breakpoint(medium) {
        line-height: rem(30);
      }
    }

    &--text {
      margin: rem(10) 0 0;
      line-height: rem(20);
    }

    @include breakpoint(medium) {
      padding: rem(15) rem(5) rem(20);
      width: rem(480);
      transform: translateX(-50%);
    }

    &.home {
      background-color: transparent;
      text-align: initial;
      width: 100%;
      padding: 0;
      box-shadow: none;

      br {
        display: none;

        @include breakpoint(medium) {
          display: block;
        }
      }

      span {
        display: block;
        font-weight: 500;
        padding: rem(15) rem(25);
        background-color: var(--clr-white);
        width: 90%;
        margin: 0 auto;
        font-size: rem(30);

        &:not(:last-child) {
          margin-bottom: rem(15);
        }
      }

      @include breakpoint(small) {
        top: 60%;
        width: 50%;
        left: rem(200);

        span {
          width: auto;
        }
      }

      @include breakpoint(medium) {
        top: 65%;
        left: rem(40);
        width: auto;
        transform: translate(0);
        margin-left: rem(20);

        span {
          display: inline-block;
        }
      }
    }

    &:not(.home) {
      span {
        display: block;
        margin-top: rem(10);
        line-height: rem(20);
      }
    }

    &.category {
      top: initial;
      bottom: 5%;
      transform: translateX(-50%);
      margin-bottom: rem(10);

      .hero__body--header {
        font-weight: 500;
        font-size: rem(24);
        letter-spacing: initial;
      }

      @include breakpoint(medium) {
        transform: translateX(0);
        width: auto;
        left: rem(26);
        padding: rem(15) rem(5) rem(20);
        bottom: rem(10);
        margin-bottom: 0;

        .hero__body--header {
          line-height: rem(30);
          font-size: rem(30);
        }
      }
    }
  }
}
