@use '../util' as *;

.hero {
  width: 100%;
  z-index: 10;
  margin: -4rem auto 0;
  max-width: var(--default-page-width);
  min-height: 17.5rem;
  position: relative;

  &__image {
    img {
      margin-inline: auto;
      width: 100%;
    }
  }

  &__body {
    @include absCenter;
    background-color: var(--clr-white);
    padding: 1rem;
    text-align: center;
    width: 95%;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);

    &--header {
      font-family: 'Red Hat Display', sans-serif;
      color: var(--clr-primary);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      font-style: italic;

      @include breakpoint(medium) {
        line-height: 3rem;
      }
    }

    &--text {
      margin: 1rem 0 0;
      line-height: 2rem;
    }

    @include breakpoint(medium) {
      padding: 1.5rem 0.5rem 2rem;
      width: 48rem;
      transform: translateX(-50%);
    }

    &.home {
      background-color: transparent;
      text-align: initial;
      width: 100%;
      padding: 0;
      box-shadow: none;

      br {
        display: none;

        @include breakpoint(medium) {
          display: block;
        }
      }

      span {
        display: block;
        font-weight: 500;
        padding: 1.5rem 2.5rem;
        background-color: var(--clr-white);
        width: 90%;
        margin: 0 auto;
        font-size: 3rem;

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }

      @include breakpoint(small) {
        top: 60%;
        width: 50%;
        left: 20rem;

        span {
          width: auto;
        }
      }

      @include breakpoint(medium) {
        top: 65%;
        left: 4rem;
        width: auto;
        transform: translate(0);
        margin-left: 2rem;

        span {
          display: inline-block;
        }
      }
    }

    &.category {
      top: initial;
      bottom: 5%;
      transform: translateX(-50%);
      margin-bottom: 1rem;

      .hero__body--header {
        font-weight: 500;
        font-size: 2.4rem;
        letter-spacing: initial;
      }

      @include breakpoint(medium) {
        transform: translateX(0);
        width: auto;
        left: 2.6rem;
        padding: 1.5rem 5px 2rem;
        bottom: 1rem;
        margin-bottom: 0;

        .hero__body--header {
          line-height: 3rem;
          font-size: 3rem;
        }
      }
    }
  }
}
