@use '../util' as *;

.menu {
  &__grid {
    margin-bottom: rem(25);
    justify-content: center;

    &--item {
      &:link,
      &:visited {
        font-family: 'Red Hat Display', sans-serif;
        flex: 1 1 100%;
        height: rem(50);
        line-height: rem(50);
        background-color: var(--clr-light-gray-2);
        color: var(--clr-black);
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 0 rem(20) 0;
        font-style: italic;
        transition: opacity 0.25s ease-in-out;
        text-align: center;
        font-weight: 500;
        z-index: 10;

        @include breakpoint(medium) {
          margin: 0 rem(10) rem(1.5) rem(10);
        }
      }

      &:hover,
      &:active {
        text-decoration: none;
        opacity: 0.75;
      }

      &.main-cat {
        display: none;
      }

      @include breakpoint(medium) {
        &:link,
        &:visited {
          flex: 0 0 47%;
        }
      }

      em {
        font-size: rem(10);
        margin-left: rem(10);
      }
    }
  }
}
