@use '../util' as *;

#waa-nav {
  height: rem(112);
  background-color: transparent;

  .navbar {
    border-color: #e7e7e7;
    border-bottom: rem(1) solid var(--bs-secondary);
    text-transform: uppercase;
    color: var(--bs-secondary);
    position: relative;
    height: 100%;
    padding: 0;

    &-toggler {
      border-color: #ddd;
      padding: rem(9) rem(10);
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: transparent;

      .icon-bar {
        display: block;
        width: rem(20);
        height: rem(2);
        border-radius: rem(1);
        background-color: var(--bs-gray-dark);
        transition: var(--transition);

        + .icon-bar {
          margin-top: rem(4);
        }
      }

      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }

      .middle-bar {
        opacity: 0;
      }

      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }

      &.collapsed {
        .top-bar,
        .bottom-bar {
          transform: rotate(0);
        }

        .middle-bar {
          opacity: 1;
        }
      }
    }

    &-brand {
      width: rem(180);
      height: 100%;
      text-align: center;
      position: absolute;
      left: 50%;
      padding: 0;
      margin: 0;
      transform: translateX(-50%);
      top: 0;
      display: block;
      z-index: 100;

      .waa-logo {
        width: rem(62);
        padding: 0 rem(10);
        background-color: var(--bs-white);
        height: rem(50);
        margin: auto;
        position: absolute;
        top: rem(15);
        left: 50%;
        transform: translateX(-50%);
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        top: auto;
        margin: 0 auto;
        padding: 0;
        height: rem(32);
        width: rem(180);
        font-size: rem(16);
        background-color: var(--bs-primary);
        font-weight: 500;
        color: var(--bs-white);
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    .cart {
      &-mobile {
        position: absolute;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          padding: rem(10) rem(20);

          svg {
            fill: #777;
            width: rem(26.5);
            height: rem(20);
            transition: var(--transition);
          }

          &:hover {
            svg {
              fill: var(--bs-primary);
            }
          }
        }
      }

      &-toggle {
        display: none;
      }
    }

    &-collapse {
      position: absolute;
      top: rem(112);
      width: 100%;
      z-index: 20;
    }

    &-left,
    &-right {
      display: flex;
      flex-direction: column;

      li a {
        justify-content: flex-start;

        &.dropdown-toggle::after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: rem(20);
        }
      }
    }

    &-right {
      .search {
        position: relative;
        height: rem(50);

        &-field {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          margin: 0;
          padding-block: 0;
          padding-inline-start: rem(40);
          padding-inline-end: rem(10);
          background: none;
          background-color: var(--clr-light-gray-3);
          box-shadow: none;
          font-size: inherit;
          font-weight: 100;
        }

        &__icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: rem(15);
          height: rem(20);
          width: rem(16);
          fill: var(--bs-secondary);
          cursor: pointer;
          transition: var(--transition);
        }
      }

      .account {
        &-toggle {
          position: relative;
        }

        &-img {
          fill: var(--bs-secondary);
          width: rem(16);
          height: rem(19);
          transition: var(--transition);
        }
      }
    }

    li {
      position: static;
      background-color: var(--clr-light-gray-3);
      font-style: inherit;
    }

    li a {
      border-bottom: rem(1) solid #ccc;
      padding: rem(14);
      font-size: rem(13);
      color: var(--bs-gray-dark);
      text-decoration: none;
      display: block;
      width: 100%;
      font-weight: 100;
      position: relative;
    }

    @include breakpoint(nav) {
      border: none;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        height: rem(1);
        width: 100%;
        background-color: var(--bs-gray-dark);
      }

      &-nav {
        position: relative;
        z-index: 10;
        background-color: var(--bs-white);
      }

      .cart-mobile {
        display: none;
      }

      &-toggler {
        display: none;
      }

      &-brand {
        .waa-logo {
          top: rem(31);
        }

        span {
          top: rem(95);
          bottom: auto;
        }
      }

      &-collapse {
        position: initial;
        z-index: initial;
      }

      &-left,
      &-right {
        flex-direction: row;
        align-items: center;
      }

      &-left {
        padding-inline-start: rem(15);
        .nav-item {
          margin-inline-end: rem(22);

          a {
            border-bottom: none;
            padding: 0;
            font-size: rem(14);
            font-weight: 400;
            transition: var(--transition);

            &:hover {
              color: var(--bs-primary);

              &::after {
                color: var(--bs-gray-dark);
              }
            }

            &::after {
              border: none;
            }
          }
        }
        .nav-item:not(:last-child) {
          a::after {
            content: '|';
            position: absolute;
            right: rem(-15);
            font-style: italic;
            border: none;
          }
        }
      }

      &-right {
        padding-inline-start: rem(20);

        .search {
          height: rem(30);

          &-field {
            width: rem(325);
            margin-inline-end: rem(20);
            background-color: var(--bs-white);
          }
        }

        .cart-toggle {
          display: block;
        }

        .account-toggle,
        .cart-toggle {
          a {
            padding: rem(15);
            border-bottom: none;

            span {
              display: none;
            }

            &::after {
              border: none;
            }
          }
        }

        .cart--icon {
          fill: var(--bs-secondary);
          width: rem(26.5);
          height: rem(20);
          transition: var(--transition);
        }
      }

      li {
        background-color: transparent;
      }
    }
  } /* end .navbar */
} /* end #waa-nav */

/* ============ mobile view ============ */
@include breakpoint(nav) {
  .dropdown:hover > .dropdown-menu {
    display: none;
  }
  .dropdown:hover > .dropdown-menu.show {
    display: block;
  }
}

.backtotop {
  display: none;
  position: fixed;
  z-index: 9999999999999;
  bottom: rem(20);
  right: rem(20);
  width: rem(50);
  height: rem(50);

  @include breakpoint(medium) {
    bottom: rem(60);
    right: rem(60);
  }
}

.backtotop a {
  &:link,
  &:visited {
    display: block;
    opacity: 1;
    width: rem(50);
    height: rem(50);
    background-color: rgba(#c0c0c0, 0.7);
    border: rem(2) solid rgba(#c0c0c0, 0.8);
    border-radius: rem(4);
    position: absolute;
    transition: all 0.2s ease;

    @include breakpoint(medium) {
      height: rem(40);
      width: rem(40);
    }
  }

  &:hover {
    transform: translateY(rem(-3));
    background-color: rgba(#c0c0c0, 0.8);
    border-color: #c0c0c0;
    box-shadow: 0 rem(1) rem(2) rgba(var(--bs-gray-dark), 0.6);
  }
  &:active {
    transform: translateY(rem(-1));
    box-shadow: 0 rem(2) rem(4) rgba(var(--bs-gray-dark), 0.8);
  }
}

.backtotop em {
  @include absCenter;
  color: var(--bs-gray-dark);
  font-size: rem(20);
}
