html {
  // This defines what 1rem is.
  // font-size: 62.5%; // 1rem = 10px;
  font-size: 62.5%; // 1rem = 10px;
  font-style: normal;
  font-weight: normal;

  @media #{$mq-medium} {
    font-size: 62.5%;
  }
}

body {
  font-size: $default-font-size;
  font-family: 'Red Hat Text', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

a {
  color: $primary-color;
  &:link,
  &:visited,
  &:focus,
  &:active {
    color: $primary-color;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
  }

  &:hover {
    //opacity: .75;
    text-decoration: underline;
  }
}

em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: 500;
}

small {
  font-size: 1.1rem;
  font-weight: 500;
}

p {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

ol,
ul {
  //margin-left: 1.25rem;
}
ol {
  padding-left: 3rem;
}

li {
  font-size: inherit;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid #eee;
  opacity: 1;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

blockquote {
  border-left: 0.5rem solid $medium-gray;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: inherit;
  margin-left: 1.5rem;

  @media #{$mq-small} {
    margin: 0 6rem 1.2rem 4.5rem;
  }
}

.tagline {
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  margin: 2rem auto;
  font-style: italic;
  color: $secondary-color;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin-bottom: 0;
}

.past {
  text-decoration: line-through;
  opacity: 0.5;
}

.inches {
  &::before {
    content: '\2033';
  }
}

.feet {
  &::before {
    content: '\2032';
  }
}

.reg {
  &::before {
    content: '\00ae';
  }
}

.lead {
  font-size: 1.6rem;
}

.page_header {
  margin-bottom: 2rem;
  //text-align: left;
  font-size: 2.5rem;
}

.panel-heading > p {
  margin-bottom: 0;
}

.heading {
  &__line {
    text-transform: uppercase;
    font-size: inherit;
    font-style: italic;
    margin: 0 0 2rem;
    width: 100%;
    background: url('https://i.univbkstr.com/uwalumnistore/css/img/bg-stripe.png')
      repeat-x 50%;
    background-color: inherit;
    padding-left: 1rem;
    display: block;

    span {
      display: inline-block;
      background-color: $white;
      padding: 1rem;
    }

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1rem max-content 1fr;
      grid-column-gap: 1rem;
      align-items: center;
      border-bottom: none;
      padding-bottom: 0;
      padding-left: 0;
      background: none;

      span {
        padding: 0;
      }

      &::before,
      &::after {
        content: '';
        height: 1px;
        display: block;
        background-color: $light-gray-2;
        // background-color: currentColor;
      }
    }

    &-center {
      text-transform: uppercase;
      font-size: inherit;
      font-style: italic;
      margin: 0 0 2rem;
      width: 100%;
      background: url('https://i.univbkstr.com/uwalumnistore/css/img/bg-stripe.png')
        repeat-x 50%;
      background-color: inherit;
      padding-left: 1rem;
      display: block;
      text-align: center;

      span {
        display: inline-block;
        background-color: $white;
        padding: 1rem;
      }

      @supports (display: grid) {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1rem;
        align-items: center;
        border-bottom: none;
        padding-bottom: 0;
        padding-left: 0;
        background: none;

        span {
          padding: 0;
        }

        &::before,
        &::after {
          content: '';
          height: 1px;
          display: block;
          background-color: $light-gray-2;
          // background-color: currentColor;
        }
      }
    }
  }

  &__list {
    font-size: 2.6rem;
    font-weight: 400;
    text-transform: capitalize;

    @media #{$mq-medium} {
      font-size: 2rem;
    }
  }
}

.page-title {
  color: $primary-color;
  font-style: normal;
  font-weight: 200;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  line-height: 1;
}

.tabs__header {
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
}

a[href^='tel:'] {
  font-size: 1em;
  font-weight: 500;
  background: #46ca5e;
  border-radius: 0;
  color: $white;
  display: block;
  line-height: 1em;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin: 1rem auto;

  &:before {
    font-family: 'FontAwesome';
    content: '\f095';
    padding: 0 0.5rem 0 0;
  }
}

.contact-info {
  ul {
    list-style-type: none;
  }

  h4 {
    color: $primary-color;
  }
}

.red {
  color: $primary-color;
}

.bold {
  font-weight: 500;
}
