.pnf__wrapper {
  &-outer {
    min-height: 60rem;
    background-image: url(https://i.univbkstr.com/uwalumnistore/images/404_bucky_bg.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;

    .cloud {
      display: none;
    }

    @include breakpoint(small) {
      min-height: 80rem;
    }

    @include breakpoint(medium) {
      min-height: 65rem;

      .cloud {
        display: block;
      }
    }
  }

  &-inner {
    margin: 2rem auto;
    max-width: 30rem;
    min-height: 40rem;
    text-align: center;

    h1 {
      color: var(--clr-primary);
      font-family: mrs-eaves-xl-serif, serif;
      font-size: 40.5px;
      font-weight: bod;
      font-style: italic;
      text-shadow: inherit;
      margin-bottom: 3rem;

      &::after {
        display: block;
        margin: 3rem auto;
        position: relative;
        height: 8px;
        width: calc(6rem);
        background-color: var(--clr-primary);
        content: '';
      }
    }

    p {
      margin-bottom: 2rem;
      text-transform: uppercase;
    }

    @include breakpoint(medium) {
      margin: 10rem auto 5rem;
      max-width: 70rem;
    }
  }
}
