@use '../util' as *;

.cart {
  font-size: rem(16);

  &__container {
    width: 100%;
    text-align: center;
    margin: rem(20) auto;
    padding: rem(30) rem(10);
    box-shadow: 0 rem(1) rem(3) rgba(0, 0, 0, 0.13);

    .fa.cart__icon {
      font-size: rem(58);
    }
  }

  &__p {
    text-transform: uppercase;
    font-size: rem(18);
    font-weight: 500;
    margin: rem(25) auto;
  }

  &__btn {
    margin-bottom: rem(20);
  }

  &__account {
    padding: rem(15);
    background-color: #f7f7f7;
    border: rem(1) solid #efefef;
    font-size: rem(18);

    p {
      margin-bottom: 0;
    }
  }

  &_title {
    margin: 0;
    font-size: inherit;
  }

  .glyphicon {
    color: var(--bs-primary);
  }
}

.Continue_Shopping,
#receiveQuestion {
  margin: rem(10) auto;

  a,
  input {
    width: 100%;
    margin-bottom: rem(20);
    font-size: inherit;

    @include breakpoint(medium) {
      width: auto;
      margin-bottom: 0;
    }
  }
}

.multiStoreTitle {
  display: none;
}

.form-control.Merchandise_Type_Code {
  cursor: default;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
}

.paymentBilling-wrapper br,
p.paymentBilling-studentnumber {
  display: none;
}

a.paymentBilling-change {
  border-radius: rem(4);
  cursor: pointer;
  display: block;
  border: rem(2) solid;
  transition: var(--transition);
  height: rem(50);
  line-height: rem(50);
  padding: 0 rem(20);
  text-decoration: none;
  font-size: rem(16);
  background-color: var(--bs-info);
  border-color: var(--bs-info);
  color: var(--bs-gray-dark);
  font-weight: 500;
  text-align: center;
  &:link,
  &:visited {
  }

  &:hover {
    background-color: color-mix(in srgb, var(--bs-info), #000 4%);
    border-color: color-mix(in srgb, var(--bs-info), #000 5%);
    color: var(--bs-white);
  }

  &:active,
  &:active:hover,
  &:focus,
  &:active:focus {
    background-color: color-mix(in srgb, var(--bs-info), #000 2%);
    border-color: color-mix(in srgb, var(--bs-info), #000 3%);
    color: var(--bs-white);
  }
}

@include breakpoint(medium) {
  a.paymentBilling-change {
    display: inline-block;
    width: auto;
    height: rem(35);
    line-height: rem(35);
  }
}

.paymentBilling-wrapper p:last-child {
  font-weight: 500;
  margin-top: rem(10);
  --bs-alert-padding-x: rem(10);
  --bs-alert-padding-y: rem(10);
  --bs-alert-margin-bottom: rem(10);
  --bs-alert-color: #055160;
  --bs-alert-bg: #cff4fc;
  --bs-alert-border-color: #b6effb;
  --bs-alert-border: rem(1) solid var(--bs-alert-border-color);
  --bs-alert-border-radius: rem(3.75);
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
}

.selectedPayment-html {
  margin-top: rem(15);
}

[class^='helpSection'] span.fa {
  color: var(--bs-primary);
}

// MBS fixes the Place Order button
// to the bottom of the page.
// Very confusing to the customer,
// This will fix it.
.coCheckoutBtnWrap {
  position: initial;
}

span.shippingMethod-description-span {
  margin-left: 0 !important;
  margin-top: rem(-10);

  div.alert {
    font-size: rem(16);
  }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-width: rem(3);
  background-size: rem(25);
}

.was-validated .form-control:invalid + label,
.form-control.is-invalid + label {
  color: #dc3545;
}
