@use '../util' as *;

h1 {
  &.thankYouHeader {
    font-size: rem(22);
    margin-bottom: rem(20);
  }
}

h2 {
  &#checkoutQuestion,
  &#orderSummaryTitle,
  &#needHelpTitle,
  &.thankYouSubHeader,
  &.addressHeader {
    font-size: rem(20);
    margin-bottom: rem(20);
  }
}

h2.addressHeader {
  a {
    font-size: rem(12);
    margin-left: rem(15);
  }
}

h4 {
  margin-bottom: rem(15);
}
.checkoutHighlighted {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}

#viewCart {
  font-size: rem(12);
  padding: rem(5) 0 0;
  margin: 0;
}

#editCart {
  font-size: rem(12);
}

#checkoutOneCol {
  input[type='submit'] {
    width: 100%;

    @include breakpoint(medium) {
      width: auto;
    }
  }
}

a#helpSection-email {
  display: none;
}
