@use '../util' as *;

.holiday-banner {
  margin: 0 0 rem(20);
  padding: rem(10);
  background: var(--clr-light-gray-2);
  font-size: rem(30);
  font-weight: 500;
  color: var(--bs-primary);
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

.holiday-deadline {
  text-align: center;

  .grid-item {
    margin-top: rem(20);
    font-size: rem(25);
    font-weight: 500;
    display: block;
    color: var(--bs-primary);
    border-bottom: rem(2) solid var(--bs-gray-dark);
    flex: 1 1 100%;
    text-transform: uppercase;
    padding-bottom: rem(20);
    margin-bottom: rem(20);
    font-style: italic;

    span {
      font-weight: normal;
      font-size: rem(20);
      color: var(--bs-gray-dark);
      display: block;

      &.numbers {
        padding-bottom: 0;
        font-size: rem(25);
        font-weight: 500;
        color: var(--bs-primary);
        display: inline;
      }
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: rem(30);
      padding-bottom: 0;
    }
  }

  @include breakpoint(small) {
    .grid-item {
      flex: 1 1 33.333%;
      border-bottom: none;
      padding-top: rem(10);
      border-right: rem(2) solid var(--bs-gray-dark);

      &:last-child {
        border-right: none;
        margin-bottom: 0;
      }

      span {
        font-size: rem(16);
        font-weight: normal;
        margin-bottom: 0;
        color: var(--bs-gray-dark);

        &.numbers {
          font-size: rem(30);
          font-weight: 500;
          color: var(--bs-primary);
          display: inline;
        }
      }
    }
  }
}
