@use '../util' as *;

.home-hero {
  width: 100%;
  margin: -4rem auto 0;
  max-width: var(--default-page-width);
  position: relative;

  img {
    margin-inline: auto;
  }

  &__banner {
    @include absCenter;
    width: 100%;

    @include breakpoint(small) {
      top: 60%;
      // top: 75%;
      width: 50%;
      left: 20rem;
    }

    @include breakpoint(medium) {
      top: 65%;
      left: 4rem;
      width: auto;
      transform: translate(0);
    }

    &--headline {
      margin: 0;

      @include breakpoint(small) {
      }

      @include breakpoint(medium) {
        margin-left: 2rem;
      }

      span {
        font-family: 'Red Hat Display', sans-serif;
        display: block;
        color: var(--clr-primary);
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-style: italic;
        padding: 1.5rem 2.5rem;
        background-color: var(--clr-white);
        width: 90%;
        margin: 0 auto;
        font-size: 3rem;

        @include breakpoint(medium) {
          width: auto;
          display: inline-block;
          line-height: 3rem;
        }

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }

      br {
        display: none;

        @include breakpoint(medium) {
          display: block;
        }
      }
    }
  }
}

.holiday-banner {
  margin: 0 0 2rem;
  padding: 1rem;
  background: var(--clr-light-gray-2);
  font-size: 3rem;
  font-weight: 500;
  color: var(--clr-primary);
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

.holiday-deadline {
  text-align: center;

  .grid-item {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
    display: block;
    color: var(--clr-primary);
    border-bottom: 2px solid var(--clr-black);
    flex: 1 1 100%;
    text-transform: uppercase;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-style: italic;

    span {
      font-weight: normal;
      font-size: 2rem;
      color: var(--clr-black);
      display: block;

      &.numbers {
        padding-bottom: 0;
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--clr-primary);
        display: inline;
      }
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 3rem;
      padding-bottom: 0;
    }
  }

  @include breakpoint(small) {
    .grid-item {
      flex: 1 1 33.333%;
      border-bottom: none;
      padding-top: 1rem;
      border-right: 2px solid var(--clr-black);

      &:last-child {
        border-right: none;
        margin-bottom: 0;
      }

      span {
        font-size: 1.6rem;
        font-weight: normal;
        // padding-bottom: 2rem;
        margin-bottom: 0;
        color: var(--clr-black);

        &.numbers {
          font-size: 3rem;
          font-weight: 500;
          color: var(--clr-primary);
          display: inline;
        }
      }
    }
  }
}
