@use '../util' as *;

.sub-category {
  &__grid {
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;

    &--item {
      &:first-child {
        display: none;

        @include breakpoint(medium) {
          display: block;
          flex: 0 0 rem(270);

          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
      }

      flex: 1;

      @include breakpoint(medium) {
        flex: 0 0 rem(525);
      }

      .menu__grid--item {
        &:link,
        &:visited {
          flex: 1 1 100%;
        }
      }
    }
  }
}

#shipping {
  table {
    @include breakpoint(small) {
      width: 75%;
      margin: rem(10) auto;
    }
  }
}

.category__grid {
  justify-content: center;
}
